footer {
    background: #6956af;
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
    display: block;
    width: 100%;
    text-align: center
}

article, aside, footer, header, nav, section {
    display: block;
}

